
.ic-angle-left-bl {
	background-image: url('png/angle-left-bl.png');
}


.ic-angle-left-dk {
	background-image: url('png/angle-left-dk.png');
}


.ic-angle-left-lt {
	background-image: url('png/angle-left-lt.png');
}


.ic-angle-left-wh {
	background-image: url('png/angle-left-wh.png');
}


.ic-angle-right-bl {
	background-image: url('png/angle-right-bl.png');
}


.ic-angle-right-dk {
	background-image: url('png/angle-right-dk.png');
}


.ic-angle-right-lt {
	background-image: url('png/angle-right-lt.png');
}


.ic-angle-right-wh {
	background-image: url('png/angle-right-wh.png');
}


.ic-arrow-down-bl {
	background-image: url('png/arrow-down-bl.png');
}


.ic-arrow-down-dk {
	background-image: url('png/arrow-down-dk.png');
}


.ic-arrow-down-lt {
	background-image: url('png/arrow-down-lt.png');
}


.ic-arrow-down-wh {
	background-image: url('png/arrow-down-wh.png');
}


.ic-arrow-left-bl {
	background-image: url('png/arrow-left-bl.png');
}


.ic-arrow-left-dk {
	background-image: url('png/arrow-left-dk.png');
}


.ic-arrow-left-lt {
	background-image: url('png/arrow-left-lt.png');
}


.ic-arrow-left-wh {
	background-image: url('png/arrow-left-wh.png');
}


.ic-arrow-right-bl {
	background-image: url('png/arrow-right-bl.png');
}


.ic-arrow-right-dk {
	background-image: url('png/arrow-right-dk.png');
}


.ic-arrow-right-lt {
	background-image: url('png/arrow-right-lt.png');
}


.ic-arrow-right-wh {
	background-image: url('png/arrow-right-wh.png');
}


.ic-arrow-up-bl {
	background-image: url('png/arrow-up-bl.png');
}


.ic-arrow-up-dk {
	background-image: url('png/arrow-up-dk.png');
}


.ic-arrow-up-lt {
	background-image: url('png/arrow-up-lt.png');
}


.ic-arrow-up-wh {
	background-image: url('png/arrow-up-wh.png');
}


.ic-backward-bl {
	background-image: url('png/backward-bl.png');
}


.ic-backward-dk {
	background-image: url('png/backward-dk.png');
}


.ic-backward-lt {
	background-image: url('png/backward-lt.png');
}


.ic-backward-sharp-bl {
	background-image: url('png/backward-sharp-bl.png');
}


.ic-backward-sharp-dk {
	background-image: url('png/backward-sharp-dk.png');
}


.ic-backward-sharp-lt {
	background-image: url('png/backward-sharp-lt.png');
}


.ic-backward-sharp-wh {
	background-image: url('png/backward-sharp-wh.png');
}


.ic-backward-wh {
	background-image: url('png/backward-wh.png');
}


.ic-camera-bl {
	background-image: url('png/camera-bl.png');
}


.ic-camera-dk {
	background-image: url('png/camera-dk.png');
}


.ic-camera-lt {
	background-image: url('png/camera-lt.png');
}


.ic-camera-wh {
	background-image: url('png/camera-wh.png');
}


.ic-chevron-down-bl {
	background-image: url('png/chevron-down-bl.png');
}


.ic-chevron-down-dk {
	background-image: url('png/chevron-down-dk.png');
}


.ic-chevron-down-lt {
	background-image: url('png/chevron-down-lt.png');
}


.ic-chevron-down-wh {
	background-image: url('png/chevron-down-wh.png');
}


.ic-chevron-left-bl {
	background-image: url('png/chevron-left-bl.png');
}


.ic-chevron-left-dk {
	background-image: url('png/chevron-left-dk.png');
}


.ic-chevron-left-lt {
	background-image: url('png/chevron-left-lt.png');
}


.ic-chevron-left-o-bl {
	background-image: url('png/chevron-left-o-bl.png');
}


.ic-chevron-left-o-dk {
	background-image: url('png/chevron-left-o-dk.png');
}


.ic-chevron-left-o-lt {
	background-image: url('png/chevron-left-o-lt.png');
}


.ic-chevron-left-o-wh {
	background-image: url('png/chevron-left-o-wh.png');
}


.ic-chevron-left-wh {
	background-image: url('png/chevron-left-wh.png');
}


.ic-chevron-right-bl {
	background-image: url('png/chevron-right-bl.png');
}


.ic-chevron-right-dk {
	background-image: url('png/chevron-right-dk.png');
}


.ic-chevron-right-lt {
	background-image: url('png/chevron-right-lt.png');
}


.ic-chevron-right-o-bl {
	background-image: url('png/chevron-right-o-bl.png');
}


.ic-chevron-right-o-dk {
	background-image: url('png/chevron-right-o-dk.png');
}


.ic-chevron-right-o-lt {
	background-image: url('png/chevron-right-o-lt.png');
}


.ic-chevron-right-o-wh {
	background-image: url('png/chevron-right-o-wh.png');
}


.ic-chevron-right-wh {
	background-image: url('png/chevron-right-wh.png');
}


.ic-chevron-up-bl {
	background-image: url('png/chevron-up-bl.png');
}


.ic-chevron-up-dk {
	background-image: url('png/chevron-up-dk.png');
}


.ic-chevron-up-lt {
	background-image: url('png/chevron-up-lt.png');
}


.ic-chevron-up-wh {
	background-image: url('png/chevron-up-wh.png');
}


.ic-comment-bl {
	background-image: url('png/comment-bl.png');
}


.ic-comment-dk {
	background-image: url('png/comment-dk.png');
}


.ic-comment-lt {
	background-image: url('png/comment-lt.png');
}


.ic-comment-o-bl {
	background-image: url('png/comment-o-bl.png');
}


.ic-comment-o-dk {
	background-image: url('png/comment-o-dk.png');
}


.ic-comment-o-lt {
	background-image: url('png/comment-o-lt.png');
}


.ic-comment-o-wh {
	background-image: url('png/comment-o-wh.png');
}


.ic-comment-square-bl {
	background-image: url('png/comment-square-bl.png');
}


.ic-comment-square-dk {
	background-image: url('png/comment-square-dk.png');
}


.ic-comment-square-lt {
	background-image: url('png/comment-square-lt.png');
}


.ic-comment-square-wh {
	background-image: url('png/comment-square-wh.png');
}


.ic-comment-wh {
	background-image: url('png/comment-wh.png');
}


.ic-compass-bl {
	background-image: url('png/compass-bl.png');
}


.ic-compass-dk {
	background-image: url('png/compass-dk.png');
}


.ic-compass-lt {
	background-image: url('png/compass-lt.png');
}


.ic-compass-wh {
	background-image: url('png/compass-wh.png');
}


.ic-download-bl {
	background-image: url('png/download-bl.png');
}


.ic-download-dk {
	background-image: url('png/download-dk.png');
}


.ic-download-dl {
	background-image: url('png/download-dl.png');
}


.ic-download-lt {
	background-image: url('png/download-lt.png');
}


.ic-download-wh {
	background-image: url('png/download-wh.png');
}


.ic-export-o-bl {
	background-image: url('png/export-o-bl.png');
}


.ic-export-o-dk {
	background-image: url('png/export-o-dk.png');
}


.ic-export-o-lt {
	background-image: url('png/export-o-lt.png');
}


.ic-export-o-wh {
	background-image: url('png/export-o-wh.png');
}


.ic-facebook-bl {
	background-image: url('png/facebook-bl.png');
}


.ic-facebook-dk {
	background-image: url('png/facebook-dk.png');
}

.ic-facebook-color,
.ic-facebook-fb {
	background-image: url('png/facebook-fb.png');
}


.ic-facebook-lt {
	background-image: url('png/facebook-lt.png');
}


.ic-facebook-wh {
	background-image: url('png/facebook-wh.png');
}


.ic-forward-bl {
	background-image: url('png/forward-bl.png');
}


.ic-forward-dk {
	background-image: url('png/forward-dk.png');
}


.ic-forward-lt {
	background-image: url('png/forward-lt.png');
}


.ic-forward-sharp-bl {
	background-image: url('png/forward-sharp-bl.png');
}


.ic-forward-sharp-dk {
	background-image: url('png/forward-sharp-dk.png');
}


.ic-forward-sharp-lt {
	background-image: url('png/forward-sharp-lt.png');
}


.ic-forward-sharp-wh {
	background-image: url('png/forward-sharp-wh.png');
}


.ic-forward-wh {
	background-image: url('png/forward-wh.png');
}


.ic-googleplus-bl {
	background-image: url('png/googleplus-bl.png');
}


.ic-googleplus-dk {
	background-image: url('png/googleplus-dk.png');
}

.ic-googleplus-color,
.ic-googleplus-gp {
	background-image: url('png/googleplus-gp.png');
}


.ic-googleplus-lt {
	background-image: url('png/googleplus-lt.png');
}


.ic-googleplus-wh {
	background-image: url('png/googleplus-wh.png');
}


.ic-image-bl {
	background-image: url('png/image-bl.png');
}


.ic-image-dk {
	background-image: url('png/image-dk.png');
}


.ic-image-lt {
	background-image: url('png/image-lt.png');
}


.ic-image-wh {
	background-image: url('png/image-wh.png');
}


.ic-mail-bl {
	background-image: url('png/mail-bl.png');
}


.ic-mail-dk {
	background-image: url('png/mail-dk.png');
}

.ic-mail-color,
.ic-mail-em {
	background-image: url('png/mail-em.png');
}


.ic-mail-lt {
	background-image: url('png/mail-lt.png');
}


.ic-mail-square-bl {
	background-image: url('png/mail-square-bl.png');
}


.ic-mail-square-dk {
	background-image: url('png/mail-square-dk.png');
}

.ic-mail-square-color,
.ic-mail-square-em {
	background-image: url('png/mail-square-em.png');
}


.ic-mail-square-lt {
	background-image: url('png/mail-square-lt.png');
}


.ic-mail-square-wh {
	background-image: url('png/mail-square-wh.png');
}


.ic-mail-wh {
	background-image: url('png/mail-wh.png');
}


.ic-pause-bl {
	background-image: url('png/pause-bl.png');
}


.ic-pause-dk {
	background-image: url('png/pause-dk.png');
}


.ic-pause-lt {
	background-image: url('png/pause-lt.png');
}


.ic-pause-wh {
	background-image: url('png/pause-wh.png');
}


.ic-pinterest-bl {
	background-image: url('png/pinterest-bl.png');
}


.ic-pinterest-dk {
	background-image: url('png/pinterest-dk.png');
}


.ic-pinterest-lt {
	background-image: url('png/pinterest-lt.png');
}

.ic-pinterest-color,
.ic-pinterest-pi {
	background-image: url('png/pinterest-pi.png');
}


.ic-pinterest-wh {
	background-image: url('png/pinterest-wh.png');
}


.ic-play-bl {
	background-image: url('png/play-bl.png');
}


.ic-play-dk {
	background-image: url('png/play-dk.png');
}


.ic-play-lt {
	background-image: url('png/play-lt.png');
}


.ic-play-wh {
	background-image: url('png/play-wh.png');
}


.ic-popup-bl {
	background-image: url('png/popup-bl.png');
}


.ic-popup-dk {
	background-image: url('png/popup-dk.png');
}


.ic-popup-lt {
	background-image: url('png/popup-lt.png');
}


.ic-popup-wh {
	background-image: url('png/popup-wh.png');
}


.ic-question-bl {
	background-image: url('png/question-bl.png');
}


.ic-question-circle-bl {
	background-image: url('png/question-circle-bl.png');
}


.ic-question-circle-dk {
	background-image: url('png/question-circle-dk.png');
}


.ic-question-circle-lt {
	background-image: url('png/question-circle-lt.png');
}


.ic-question-circle-wh {
	background-image: url('png/question-circle-wh.png');
}


.ic-question-dk {
	background-image: url('png/question-dk.png');
}


.ic-question-lt {
	background-image: url('png/question-lt.png');
}


.ic-question-wh {
	background-image: url('png/question-wh.png');
}


.ic-thumbs-up-bl {
	background-image: url('png/thumbs-up-bl.png');
}


.ic-thumbs-up-dk {
	background-image: url('png/thumbs-up-dk.png');
}

.ic-thumbs-up-color,
.ic-thumbs-up-fb {
	background-image: url('png/thumbs-up-fb.png');
}


.ic-thumbs-up-lt {
	background-image: url('png/thumbs-up-lt.png');
}


.ic-thumbs-up-wh {
	background-image: url('png/thumbs-up-wh.png');
}


.ic-tick-bl {
	background-image: url('png/tick-bl.png');
}


.ic-tick-dk {
	background-image: url('png/tick-dk.png');
}


.ic-tick-lt {
	background-image: url('png/tick-lt.png');
}


.ic-tick-wh {
	background-image: url('png/tick-wh.png');
}


.ic-times-bl {
	background-image: url('png/times-bl.png');
}


.ic-times-dk {
	background-image: url('png/times-dk.png');
}


.ic-times-lt {
	background-image: url('png/times-lt.png');
}


.ic-times-wh {
	background-image: url('png/times-wh.png');
}


.ic-twitter-bl {
	background-image: url('png/twitter-bl.png');
}


.ic-twitter-dk {
	background-image: url('png/twitter-dk.png');
}


.ic-twitter-lt {
	background-image: url('png/twitter-lt.png');
}


.ic-twitter-square-bl {
	background-image: url('png/twitter-square-bl.png');
}


.ic-twitter-square-dk {
	background-image: url('png/twitter-square-dk.png');
}


.ic-twitter-square-lt {
	background-image: url('png/twitter-square-lt.png');
}

.ic-twitter-square-color,
.ic-twitter-square-tw {
	background-image: url('png/twitter-square-tw.png');
}


.ic-twitter-square-wh {
	background-image: url('png/twitter-square-wh.png');
}

.ic-twitter-color,
.ic-twitter-tw {
	background-image: url('png/twitter-tw.png');
}


.ic-twitter-wh {
	background-image: url('png/twitter-wh.png');
}


.ic-world-bl {
	background-image: url('png/world-bl.png');
}


.ic-world-dk {
	background-image: url('png/world-dk.png');
}


.ic-world-lt {
	background-image: url('png/world-lt.png');
}


.ic-world-wh {
	background-image: url('png/world-wh.png');
}


.ic-zoom-in-bl {
	background-image: url('png/zoom-in-bl.png');
}


.ic-zoom-in-dk {
	background-image: url('png/zoom-in-dk.png');
}


.ic-zoom-in-lt {
	background-image: url('png/zoom-in-lt.png');
}


.ic-zoom-in-wh {
	background-image: url('png/zoom-in-wh.png');
}


.ic-zoom-out-bl {
	background-image: url('png/zoom-out-bl.png');
}


.ic-zoom-out-dk {
	background-image: url('png/zoom-out-dk.png');
}


.ic-zoom-out-lt {
	background-image: url('png/zoom-out-lt.png');
}


.ic-zoom-out-wh {
	background-image: url('png/zoom-out-wh.png');
}

